<html>

<!-- external script - JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- internal sript - here we must prepare attributes before loading Angular -->
<script type="text/javascript" src="prepare-elements.js"></script>
<!-- external script - AngularJS -->
<script src="angular.js"></script>

<!-- internal styles -->
<link rel="stylesheet" href="style.min.css" media="screen" charset="utf-8">

<body>

    <form ng-app="validation" ng-controller="validationCtrl as ctrl">

        <fieldset>
            <legend>FORM</legend>
            <br>
            <label for="name">Name:</label><br>
            <input type="text" data-validation="name required" ng-model="ctrl.user.name"><br>
            <span class="error name"></span>
            <br>
            <br>

            <label for="email">E-mail:</label><br>
            <input type="text" id="email" data-validation="email" ng-model="ctrl.user.email"><br>
            <span class="error email"></span>
            <br>
            <br>

            <label for="tel">Phone:</label><br>
            <input type="text" id="tel" data-validation="tel" ng-model="ctrl.user.tel"><br>
            <span class="error tel"></span>
            <br>
            <br>

            <label for="postalcode">Postal code:</label><br>
            <input type="text" id="postalcode" data-validation="postalcode required" ng-model="ctrl.user.postalcode"><br>
            <span class="error postalcode"></span>
            <br>
            <p class='info'>
                * required fields *
            </p>
            <br>
            <input type="submit" value="SUBMIT" data-validation='submit'>
        </fieldset>
    </form>

    <!-- internal scripts -->
    <script type="text/javascript" src="controller.js"></script>

</body>

</html>
