@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
form {
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
    color: #999;
    fieldset {
        border: 1px solid #999;
        border-radius: 5px;
        legend {
            display: block;
            font-size: 18px;
            color: #000;
            width: 100px;
            padding: 35px 0;
            background: #eee;
            border: 1px solid #999;
            border-radius: 50%;
            &:hover {
              transition: transform 5s ease-in-out;
              transform: rotateX(1800deg);
            }
            &:not(:hover) {
              transition: transform 1s;
            }
        }
        input {
            margin-top: 5px;
        }
        .error {
            font-size: 10px;
            letter-spacing: 1px;
            color: #DE1B1B;
        }
        .info {
            border-top: 1px solid #999;
            padding: 5px;
            font-size: 13px;
            letter-spacing: 4px;
            color: #999;
        }
        input[type=submit] {
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            padding: 10px 25%;
            border: 1px solid #ddd;
            border-radius: 25px;
            background: #eee;
            &:hover {
                transition: background 0.25s;
                cursor: pointer;
                border: 1px solid #999;
                background: #fff;
            }
        }
    }
}
